.card{
    background-color: rgb(211, 161, 236);
}
body{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcShTg4U3LzPwUujUYZQbn60OhYOtFxy6SL_UsUPkU2J9DSMHjW9');
    background-size: cover;
}