<nav class="navbar navbar-expand-lg navbar-dark bg-warning">
    <a class="navbar-brand" routerLink="/" style="color: black;">Stock Management System</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <!-- <li class="nav-item active">
                <a class="nav-link" routerLink="/">Home</a>
            </li> -->
            <li class="nav-item" >
                <a class="nav-link" routerLink="/add" style="color: black;">Add Product</a>
            </li>
             <li class="nav-item" >
                <a class="nav-link" routerLink="/search"  style="color: black;">searchProduct</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" routerLink="/modify"  style="color: black;">Modify Product</a>
            </li>
            <!-- <li class="nav-item" >
                <a class="nav-link" routerLink="/get"> Products List</a>
            </li>  -->
      
        </ul> 
    </div>
</nav>
